@media (max-width:921px) {
    .container1{
        display:flex ;
        flex-direction: column-reverse;
    }
    .container1-1{
        text-align: center;
    }
    .container1-2{ 
        text-align: center;
    }
    .container2{
        
        flex-direction: column-reverse;
    }
    .percentage-img{
        width:250px ;
        height:200px ;
    }
    .percentage-container{
        text-align: center;
    }
    .container2-1{
        text-align: center;
    }
    .list1 ,.list2, .list3, .list4{
        justify-content: center;
    }
    .container3{
        text-align: center;
    }
}
.about-container{
    background-image: url("./wave\ \(11\).svg");
    background-repeat: no-repeat;
    background-size: cover;

    box-sizing: border-box;  

    padding: 1% 0; 

}
.about-sous-container{
    margin:  auto;
    max-width: 1240px;   
   
}

.container1{
    display: flex;

    justify-content: space-between;

    box-sizing: border-box;
}

.container1-2{ 
}
.container1-2-title{
    color: #242335;

    font-weight: bold;
    line-height: 150%;
}
.container1-2-paragraph{
    font-weight: normal;
    font-size: larger;

    line-height: 140%;
    
}
.container2{
    display: flex;
    justify-content: space-between;

    box-sizing: border-box;  

    margin-top: 3%;
}
.container2-1{
}
.container2-1-title{
    color: #242335;

    
    margin-bottom: 2%;

    font-weight: bold;
    line-height: 150%;
    
}
.list1{
    list-style: none;

    display: flex;
    gap: 5%;

    margin-bottom: 3%;
}
.list2{
    list-style: none;

    display: flex;
    gap: 5%;

    margin-bottom: 3%;
}
.list3{
    list-style: none;

    display: flex;
    gap: 5%;

    margin-bottom: 3%;
}
.list4{
    list-style: none;

    display: flex;
    gap: 5%;

    margin-bottom: 3%;
}
.list5{
    list-style: none;

    display: flex;
    gap: 5%;
}
.li{
    white-space: nowrap;

    border: none;
    border-width: 0.5mm;
    border-radius: 25px;

    padding: 8px;

    font-size: small;

    width: 130px;


    display: flex;
    justify-content: center;
    align-items: center;

    background-color: aliceblue;
}
.percentage-container{
}
.container3{
    box-sizing: border-box;  
}
.percentage-img{
    max-width:310px ;
    max-height:300px ;
}
.container3-paragraph{

    font-weight: normal;
    font-size: larger;

    line-height: 140%;
    box-sizing: border-box;  
}
