@media (max-width:921px) {
    .home-sous-container{
        display: flex;
        flex-direction: column-reverse;

        justify-content: center;
        align-items: center;
    }
    .home-1{
        text-align: center;
    }
    .home-image {
    
        margin-left: 6%;
    }

    
}
.home-container {
    padding: 1% 0; 

}
.home-sous-container{
    display: flex;

    justify-content: space-between;
    align-items: center;

    margin: auto;
    max-width: 1240px;
}


.home-1{
}

.home-paragraph {

    font-size: 40px;

    line-height: 150%;
   
    padding: 10px 0px;
}

.home-button{
    background-color: rgb(117, 117, 238);

    padding: 14px;

    border-radius: 25px;

    border: none;

    font-size: larger;

    width: 150px;
}

.home-image {
    margin-right: 6%;
   
    
}
.image{
    border-radius: 100%;

    background-color: white;

    height:200px;
    width:200px;
    
    border: solid;
}